<div class = "bg-i">
  <div class = "col-md-4 offset-md-3">
    <h2 style = "padding-top: 50px;">新規登録</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :名前 %><span style = "color: red; font-size: 12px; margin-left: 10px;">(必須)</span><br />
        <%= f.text_field :name, autofocus: true, size: "40x5" %>
      </div>

      <div class="field" style = "padding-top: 20px;">
        <%= f.label :メールアドレス %><span style = "color: red; font-size: 12px; margin-left: 10px;">(必須)</span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40x5" %>
      </div>

      <div class="field" style = "padding-top: 20px;">
        <%= f.label :パスワード（６文字以上で入力してください） %><span style = "color: red; font-size: 12px; margin-left: 10px;">(必須)</span><br>
        <%= f.password_field :password, autocomplete: "new-password", size: "40x5" %>
      </div>

      <div class="field" style = "padding-top: 20px;">
        <%= f.label :パスワード確認 %><span style = "color: red; font-size: 12px; margin-left: 10px;">(必須)</span><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", size: "40x5" %>
      </div>

      <div class="actions" style = "padding-top: 20px;">
        <%= f.submit "新規登録", class: "button" %>
      </div>
    <% end %>
     <div style = "padding-top: 30px;">
      <P>すでにアカウントをお持ちの方は<%= render "devise/shared/links" %></P>
    </div>
  </div>
</div>
