<main>
  <div class = "bg_i">
    <!--ユーザー詳細-->
    <div class = "container">
      <div class = "row">
        <div class = "col-md-3">
          <%= @user.name %>
          <%= attachment_image_tag @user, :profile_image, size: "150x150", fallback: "no_image.jpg" %>
          <%= @user.introduction %>
          <%= link_to edit_user_path(@user.id) do %>
            <i class="fas fa-cog" style = "color: #CCCCCC;"></i>
          <% end %>
          <% unless @user == current_user %>
            <% if current_user.following?(user) %>
              <%= link_to 'フォロー外す',unfollow_path(user.id), method: :post %>
            <% else %>
              <%= link_to 'フォローする',follow_path(user.id), method: :post %>
            <% end %>
          <% end %>
        </div>
        <!--ログインしているユーザーの投稿一覧を表示-->
        <div class = "col-md-8 offset-md-1">
          <table>
            <tr>
              <td>

              </td>
            </tr>
          </table>
          <% @user.objectives.each do |objective| %>
            <%= attachment_image_tag objective, :image, size: "200x200", fallback: "no_image.jpg" %>
            <%= objective.title %>
            <%= objective.content %>
            ¥<%= objective.money %>
            <% if @objectives.favorited_by?(current_user) %>
              <p>
                <%= link_to objective_favorites_path(@objectives.id), method: :delete do %>
                  ♥<%= @objectives.favorites.count %>
                <% end %>
              </p>
                <% else %>
              <p>
                <%= link_to objective_favorites_path(@objectives.id), method: :post do %>
                  ♡<%= @objectives.favorites.count %>
                <% end %>
              </p>
            <% end %>
            <%= link_to objective_path(objective.id) do %>
              <i class="far fa-comment"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>