<main>
  <div class = "bg_i">
    <div class = "container">
      <div class = "row">
        <div class = "col-md-3">
          <!--ユーザー詳細-->
          <h2 style = "padding-top: 30px; border-bottom: 10px solid #e6e3dc;">Profile</h2>
          <p><%= @user.name %></p>
          <p><%= attachment_image_tag @user, :profile_image, size: "75x75", fallback: "no_image.jpg" %></p>
          <p><%= @user.introduction %></p>
          <% if user_signed_in? && @user.id == current_user.id %>
            <p><%= link_to "編集", edit_user_path(@user.id), class: "edit_button" %></p>
          <% end %>
          <p>フォロー数：<%= @user.following_users.count %></p>
          <p>フォロワー数：<%= @user.follower_users.count %></p>
          <p>いいね数：<%= @user.favorites.count %></p>
          <p>コメント件数：<%= @user.objective_comments.count %></p>
          <% unless @user == current_user %>
            <% if current_user.following?(user) %>
              <%= link_to 'フォロー外す',unfollow_path(user.id), method: :post %>
            <% else %>
              <%= link_to 'フォローする',follow_path(user.id), method: :post %>
            <% end %>
          <% end %>
          <% if user_signed_in? && @user.id == current_user.id %>
            <%= link_to "新規投稿", new_objective_path, class: "new_objective_button" %>
            <%= link_to "貯金額計算", savings_path, class: "savings_button" %>
          <% end %>
        </div>
        <!--ログインしているユーザーの投稿一覧を表示-->
        <div class = "col-md-6">
          <% @user.objectives.order(id: "DESC").each do |objective| %>
            <div class = "user_objective_box" style = "border: 1px solid #e6e3dc;">
              <p style = "padding-top: 10px;">
                <% if objective.is_achievement == true %>
                  <div style = "color: #339900;">
                    新規
                  </div>
                <% else %>
                  <div style = "color: #339900;">
                    貯金達成
                  </div>
                <% end %>
              </p>
              <p>
                <%= attachment_image_tag objective, :image, size: "400x200", fallback: "noimage.png" %>
              </p>
              <p><%= objective.title %></p>
              <p><%= objective.content %></p>
              <p><%=number_to_currency(objective.money, unit: "￥", strip_insignificant_zeros: true) %></p>
              <div style = "display: flex;">
                <%= link_to objective_path(objective.id) do %>
                  <i class="far fa-comment" style = "padding-right:10px;"></i>
                <% end %>
                <% if objective.favorited_by?(current_user) %>
                  <p>
                    <%= link_to objective_favorites_path(objective.id), method: :delete do %>
                      <i class="fas fa-thumbs-up"></i>
                      <%= objective.favorites.count %>
                    <% end %>
                  </p>
                    <% else %>
                  <p>
                    <%= link_to objective_favorites_path(objective.id), method: :post do %>
                      <i class="far fa-thumbs-up"></i>
                      <%= objective.favorites.count %>
                    <% end %>
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>