<div class = "background">
  <div class = "Cost of living calculation" style = "width: 50%; padding: 30px 0 0 50px;">
    <%= form_with model: @user do |f| %>
      <h3>必要な生活費</h3>
      <table>
        <tr>
          <td>
            <p>家賃（管理費・駐車場代など含む）：</p>
          </td>
          <td>
            <p><%= f.text_field :rent, id: "rent" %>円</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>食費：</p>
          </td>
          <td>
            <p><%= f.text_field :food, id: "food" %>円</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>水道・光熱費：</p>
          </td>
          <td>
            <p><%= f.text_field :Waterway_Light_Heat_Fee, id: "Waterway_Light_Heat_Fee" %>円</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>生活用品（キッチン・お風呂・トイレ用品　など）：</p>
          </td>
          <td>
            <p><%= f.text_field :life, id: "life" %>円</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>通信費（スマホ・ネット）：</p>
          </td>
          <td>
            <p><%= f.text_field :postage, id: "postage" %>円</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>保険・医療費：</p>
          </td>
          <td>
            <p><%= f.text_field :medical, id: "medical" %>円</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>娯楽費：</p>
          </td>
          <td>
            <p><%= f.text_field :entertainment, id: "entertainment" %>円</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>その他（ジム、ガソリン、ペット、ローン、通院費など）：</p>
          </td>
          <td>
            <p><%= f.text_field :others, id: "others" %>円</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>合計：</p>
          </td>
          <td>
            <p><%= f.text_field :result, id: "result", readonly: true %>円</p>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
<script>
$('input').change(function() {

  label = ['#rent', '#food','#Waterway_Light_Heat_Fee', '#life', '#postage', '#medical', '#entertainment', '#others'];

  result = 0;
  label.forEach(function(element){
    result += Number($(element).val()) | 0;
  })

  $('#result').val(result)
});
</script>